{% extends 'layouts/base.html' %}
{% block content %}
        <main class="container mt-5" style="margin-top: 70px!important;">
            <div class="row">
                <div>
                     <form method="POST" class="card card-body">
                         <h1>Nuevo Miemrbo de Filantropía</h1>
                          {{ error }}
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit" class="btn btn-primary button-with-shadow mt-2">Guardar</button>
                         <a class="btn btn-outline-primary cancel-button button-with-shadow mt-2" href="/fil/philanthropy" role="button">Cancelar</a>
                    </form>
                </div>
            </div>
       </main>
{% endblock %}