{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <main class="container mt-5">
        <section>
            <h1 class="mb-4" style="margin-top: 10%;">Miembros de Filantropía</h1>
            <article class="d-flex flex-wrap justify-content-start">
                <div class="card mx-2 mb-4" style="width: 18rem;">
                    <img src="https://www.uninorte.edu.co/documents/13400067/34357206/Alianza+4U.jpg/af1fb678-e0a5-2642-3b07-ff1b272c76fd?t=1675084620417" class="card-img-top" alt="Imagen para crear">
                    <div class="card-body ">
                            <a class="btn btn-primary button-with-shadow" href="/fil/philanthropy/create_philanthropy/" role="button">Crear nuevo miembro</a>
                        </div>
                </div>
            </article>
        </section>
        <section class="row">
            <ul class="list-group mb-4">
                {% for p in philanthropy_members %}
                    <a class="list-group-item" href="{% url 'philanthropy_detail' p.philanthropy_member_code %}">
                        <strong> {{ p.philanthropy_member_name }}</strong>
                        <p>Código: {{ p.philanthropy_member_code }}</p>
                    </a>
                {% endfor %}
            </ul>
        </section>
       
    </main>
{% endblock %}
