{% extends 'layouts/base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>
                    Philanthropy Members
                </h1>
                <ul class="list-grouop">
                    {% for p in philanthropy_members %}
                    <a class="list-group-item" href="{% url 'student_detail' p.philanthropy_member_code %}">
                        <strong> {{ p.philanthropy_member_name }}</strong>
                        <p>Code: {{ p.philanthropy_member_email }}</p>
                    </a>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </main>
{% endblock %}