{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="/../../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!---
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Seguimiento estudiantes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav flex-column" id="navbarNav">
      <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/index" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/students" class="nav-link">Students</a>
            </li>
            <li class="nav-item2">
                <a href="/student/create_student" class="nav-link">Create Students</a>
            </li>
           <li class="nav-item2">
                <a href="/philanthropy" class="nav-link">Philanthropy Members</a>
          </li>
          <li class="nav-item2">
                <a href="/philanthropy/create_philanthropy" class="nav-link">Create Philanthropy Member</a>
          </li>
      </ul>
    </div>
  </div>
</nav> --->
<!--
    <nav class="container-fluid">
        <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul> --->
<div class="row h-100">
    <div class="col-2">
        <nav class="navbar-nav bg-primary h-100 w-100">
            <ul class="flex-fill d-flex flex-column">
                <li class="nav-item flex-grow-1">
                    <a class="nav-link" href="/index"> Home </a>
                </li>
                <li class="nav-item flex-grow-1">
                    <a class="nav-link" href="/students"> Students </a>
                </li>
                <li class="nav-item flex-grow-1">
                    <a class="nav-link" href="/philanthropy"> Philanthropy </a>
                </li>
                <li class="nav-item flex-grow-1">
                    <a class="nav-link" href="/index"> Reports </a>
                </li>
                <li class="nav-item flex-grow-1">
                    <a class="nav-link" href="/index"> Log Out </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main container col-9 block">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>