{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <main class="container">
        <div>
            <h1 class="display-4 text-center mb-5">Gestión de información</h1>
        </div>
        <section>
            <article class="select-students">
                <h1 style="padding: 50px;">Bienvenido</h1>
                <div class="d-flex justify-content-center mt-4">
                    <div class="card mb-5 mx-4" style="width: 18rem;">
                        <img src="https://www.icesi.edu.co/fundacion_profesores/images/IMG_0697.JPG" class="card-img-top" alt="Imagen 1">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <a href="/fil/students" role="button">
                                <button class="btn btn-primary button-with-shadow">Estudiantes</button>
                            </a>
                        </div>
                    </div>
                    <div class="card mb-5 mx-4" style="width: 18rem;">
                        <img src="https://www.icesi.edu.co/revista-graduados/versiones-anteriores/edicion60/images/revista-egresados/icesi-hoy/musica/1.jpg" class="card-img-top" alt="Imagen 2">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <a href="/fil/request_update" role="button">
                                <button class="btn btn-primary button-with-shadow">Solicitar actualización</button>
                            </a>
                        </div>
                    </div>
                    {% if es_superuser == 1 %}
                    <div class="card mb-5 mx-4" style="width: 18rem;">
                        <img src="https://www.icesi.edu.co/unicesi/images/unicesi/2022/fundacion_icesi_para_todos.jpg" class="card-img-top" alt="Imagen 3">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <a href="/fil/philanthropy" role="button">
                                <button class="btn btn-primary button-with-shadow">Filantropía</button>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </article>
        </section>
    </main>
{% endblock %}
