{% extends 'layouts/base.html' %}

{% block content %}
    <main class="container">
        <div>
            <h1>Gestión de información</h1>
        </div>
        <section>
            <article class="select-students">
                <p>A continuación, selecciona la opción que se ajuste a lo que deseas realizar</p>
                <div class="d-flex justify-content-center mt-4">
                    <div class="mb-5 mx-4">
                        <a href="/students" role="button">
                            <button class="btn btn-primary">Estudiantes</button>
                        </a>
                    </div>
                    <div class="mb-5 mx-4">
                        <a href="/students" role="button">
                            <button class="btn btn-primary">Solicitar actualización</button>
                        </a>
                    </div>
                    {% if is_superuser == 1 %}
                        <div class="mb-5 mx-4">
                        <a href="/philanthropy" role="button">
                            <button class="btn btn-primary">Filantropía</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </article>
        </section>
    </main>
{% endblock %}
