{% extends 'layouts/base.html' %}

{% block content %}
    <main class="container">
        <div>
            <h1 class="display-4 text-center mb-5">Difusión y Comunicación</h1>
        </div>
        <form method="POST" action="{% url 'send_info' %}" class="d-flex flex-column">
            {% csrf_token %}

            <section class="mb-4">
                <div class="d-flex flex-column">
                    <label for="message_to">Selecciona a qué oficina deseas enviar el mensaje</label>
                    <select name="message_to" id="message_to" class="form-control">
                        <option value="collaborator-all">Colaborador (Todos)</option>
                        <option value="Collaborator Bienestar Universitario">Colaborador (Bienestar Universitario)</option>
                        <option value="Collaborator Registro Académico">Colaborador (Registro Académico)</option>
                        <option value="Collaborator Director de Programa">Colaborador (Director de Programa)</option>
                        <option value="Collaborator Apoyo Financiero">Colaborador (Apoyo Financiero)</option>
                    </select>
                </div>
            </section>

            <section class="mb-4">
                <div class="form-group">
                    <label for="message">Escribe el mensaje</label>
                    <textarea class="form-control" rows="5" id="message" name="message"></textarea>
                </div>
            </section>

            <section class="mb-4 text-center">
                <button class="btn btn-primary button-with-shadow" type="submit">Enviar</button>
                <a class="btn btn-primary button-with-shadow" href="/fil/info_dissemination/show" role="button">Ver mensajes</a>
            </section>
        </form>
    </main>
{% endblock %}