{% extends 'layouts/base_collaborator.html' %}

{% block content %}
    <section>
        <h1 class="display-4 text-center mb-5">
            Subir Información
        </h1>
        <div class="container py-5">
            <div class="row">
                <h2>
                    Actualizar: {{ info_type }}
                </h2>
                <p>
                    A continuación, da click en 'Seleccionar Archivo' para subir un archivo en formato .csv para
                    actualizar la información del estudiante con nombre: {{ student.student_name }}
                </p>
            </div>
            <div class="row text-center mt-5">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="upload" value="{{ info_type }}" readonly>
                    <input type="file" name="csv_file" accept=".csv, .xlsx" id="csv-file" required>
                    <button style="margin-left: 20px; color: white; border-radius: 5px"
                            class="btn-primary button-with-shadow" type="submit">Subir
                    </button>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        <div style="color: {% if message.tags == 'success' %}green{% else %}red{% endif %};">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}