{% extends 'layouts/base_collaborator.html' %}

{% block content %}
    <section>
        <h1 class="display-4 text-center mb-5">
            Subir Información
        </h1>
        <div class="container py-5">
            <div class="row">
                <h2>
                    Actualizar: {{ info_type }}
                </h2>
                <p>
                    A continuación, da click en 'Seleccionar Archivo' para subir un archivo en formato .csv para
                    actualizar la información del estudiante con nombre: {{ student.student_name }}
                </p>
            </div>
        </div>
    </section>
{% endblock %}