{% extends 'layouts/base_collaborator.html'%}

{% block content %}
    <main class="container">
        <section class="row">
            <article>
                <h1 class="display-4 text-center mb-5">
                    Colaboradores
                </h1>
            <section>
                <article class="d-flex flex-wrap justify-content-start">
                <div class="card mx-2 mb-4" style="width: 18rem;">
                    <img src="https://www.icesi.edu.co/departamentos/images/departamentos/ECE/matematicas/depto_matematicas_2023.jpg" class="card-img-top" alt="Imagen para crear">
                    <div class="card-body ">
                            <a class="btn btn-primary button-with-shadow" href="/col/collaborator/create/" role="button">Crear nuevo colaborador</a>
                        </div>
                </div>
            </article>
            </section>
                <ul class="list-group">
                    {% for p in collaborator_members %}
                        <a class="list-group-item" href="{% url 'collaborator_detail' p.collaborator_code %}">
                            <strong> {{ p.collaborator_name }} </strong>
                            <p>Código: {{ p.collaborator_code }}</p>
                        </a>
                    {% endfor %}
                </ul>
            </article>
        </section>
    </main>
{% endblock %}