{% extends 'layouts/base_collaborator.html'%}

{% block content %}
    <section style="background-color: #eee;">
        <div class="container py-5">

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <style>
                                .profile-image {
                                    width: 150px;
                                    height: 150px;
                                    object-fit: cover;
                                }
                            </style>
                            <img src="https://img.freepik.com/fotos-premium/icono-usuario-simbolo-persona-avatar-humano-3d-render_473931-217.jpg?w=740" alt="avatar"
                                 class="rounded-circle img-fluid profile-image" style="width: 150px;">
                            <h5 class="my-3">{{ collaborator.collaborator_name }}</h5>
                            <p class="text-muted mb-1">{{ collaborator.collaborator_code }}</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="{% url 'collaborator_edit' collaborator.collaborator_code %}">
                                    <button type="button" class="btn btn-primary button-with-shadow">Editar</button>
                                </a>
                                <a href="{% url 'delete_collaborator' collaborator.collaborator_code %}">
                                    <button type="button" class="btn btn-outline-primary ms-1 button-with-shadow">Eliminar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ collaborator.collaborator_name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ collaborator.collaborator_email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}