{% extends 'layouts/base_collaborator.html'%}

{% block content %}
    <h1>Editar colaborador</h1>
    <form method="POST" class="card card-body">0
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary button-with-shadow mt-2">Guardar cambios</button>
    <a class="btn btn-outline-primary cancel-button button-with-shadow mt-2"
       href="/col/collaborator/{{ collaborator.collaborator_code }}/detail" role="button">Cancelar</a>
    </form>
{% endblock %}