{% extends 'reports_base/base_reports.html' %}
{% block content %}
    <section>
        <div class="row">
            <h1>Reporte de Becas</h1>
        </div>
    </section>
    <section>
        {% for s in students %}
            <div class="student-container">
                <div class="student-name">{{ s.student.student_name }} {{ s.student.student_surname }}</div>
                <div class="student-info">
                    <div class="info-title">Código</div>
                    <div class="info-text">{{ s.student.student_code }} </div>
                </div>
                <div class="student-info">
                    <div class="info-title">Donador</div>
                    <div class="info-text">{{ s.student.donor_student_code }}</div>
                </div>

                <!---- Form y Div para ejecutar la consulta de la lista que necesito del estudiante --->
                <form style="display: none" method="POST" action="{% url 'query_student_becas' s.student.student_code %}">
                    {% csrf_token %}
                    <button type="submit" id="invisible-btn">click</button>
                </form>
                <div id="that-div" onclick="iHaveListener()"></div>
                <!---- Form y Div para ejecutar la consulta de la lista que necesito del estudiante --->

                <div class="student-info">
                    <div class="info-title">
                        Balance Académico:
                    </div>
                     {% if s.becas %}
                        {% for b in s.becas %}
                            <div class="info-text">
                                {{ b.academic_balance_career }} | {{ b.academic_balance_subjects }} |
                                {{ b.academic_balance_schedule }} | {{ b.academic_balance_additions }} |
                                {{ b.academic_balance_cancellations }} | {{ b.academic_balance_semester_average }} |
                                {{ b.academic_balance_total_average }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="info-text">El estudiante no posee balance académico</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
    <script>
        let that_div = document.getElementById("that-div")

        function iHaveListener(){

        }

        // Función para ejecutar la acción una vez
        function executeOnce() {
            if (that_div.hasAttributes()) {
                document.getElementById("invisible-btn").click();
            }
        }

        that_div.removeAttribute("onclick");
    </script>
    <style>
        .student-container {
            border: 1px solid #ccc;
            margin: 20px;
            padding: 20px;
            border-radius: 5px;
        }

        /* Estilo para el nombre del estudiante */
        .student-name {
            font-size: 24px;
            font-weight: bold;
        }

        /* Estilo para la información adicional del estudiante */
        .student-info {
            margin-top: 10px;
        }

        /* Estilo para el título de la información adicional */
        .info-title {
            font-weight: bold;
        }

        /* Estilo para la información adicional del estudiante */
        .info-text {
            margin-left: 10px;
        }
    </style>
{% endblock %}