{% extends 'reports_base/base_reports.html' %}
{% block content %}
    <section>
        <div class="row">
            <h1>Reporte de consultas en el CREA</h1>
        </div>
    </section>
    <section>
        {% for s in students %}
            <div class="student-container">
                <div class="student-name">{{ s.student_name }}</div>
                <div class="student-info">
                    <div class="info-title">Código</div>
                    <div class="info-text">{{ s.student_code }} </div>
                </div>
                <div class="student-info">
                    <div class="info-title">Donador</div>
                    <div class="info-text">{{ s.donor_student_code }}</div>
                </div>

                <!---- Form y Div para ejecutar la consulta de la lista que necesito del estudiante --->
                <form style="display: none" method="POST" action="{% url 'query_student_crea' s.student_code %}">
                    {% csrf_token %}
                    <button type="submit" id="invisible-btn">click</button>
                </form>
                <div id="that-div" onclick="iHaveListener()"></div>
                <!---- Form y Div para ejecutar la consulta de la lista que necesito del estudiante --->

                <div class="student-info">
                    <div class="info-title">
                        Consultas en el CREA:
                    </div>
                    {% if extra_academics %}
                        {% for q in crea_queries %}
                            <div class="info-text">
                                {{ q.crea_query_date }} | {{ q.crea_query_info }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="info-text">El estudiante no posee consultas en el CREA</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}