{% extends 'layouts/base_collaborator.html' %}

{% block content %}
    <main class="container mt-5">
        <div>
            <h1 class="display-4 text-center mb-5">Mensajes recibidos</h1>
        </div>
        <div class="row">
            <div class="col">
                {% if messages %}
                    {% for m in messages %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">De Filantropía</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Fecha: {{ m.message_date }}</h6>
                                <p class="card-text">{{ m.message_content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>
                        <p>No hay mensajes por mostrar</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}