{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <main class="container" style="margin-top: 80px;">
        <section class="card card-body">
            <h1 class="display-3 text-center">Bienvenido a Filantropía Icesi</h1>
            <p class="lead text-center">
                Ayudando a construir un mejor futuro, un estudiante a la vez.
            </p>

            <div class="mt-5">
                <h2>¿Qué puedes hacer?</h2>
                <ul>
                    <li>Registrar nuevos estudiantes y asignarles un donante existente.</li>
                    <li>Gestionar los datos de los estudiantes y donantes registrados.</li>
                    <li>Generar informes y obtener estadísticas sobre el impacto de las donaciones.</li>
                    <li>Comunicarte con soporte.</li>
                </ul>
            </div>

            <div class="mt-5">
                <h2>Contacto</h2>
                <address>
                    <strong>Filantropía Icesi</strong><br>
                    123 Calle <br>
                    Cali, Valle del Cauca 760000<br>
                    Tel: +57 (2) 123-4567<br>
                    Email: contacto@filantropiaicesi.com
                </address>
            </div>
        </section>
    </main>
{% endblock %}
