<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

{% extends 'layouts/base.html' %}
{% block content %}
<main class="container py-5">
    {% if messages %}
<div class="alert-messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-0">
                <div class="card-body text-center">
                    <style>
                        .profile-image {
                            width: 150px;
                            height: 150px;
                            object-fit: cover;
                        }
                    </style>
                    {% if student.profile_picture %}
                    <img src="{{ student.profile_picture.url }}" alt="Foto de perfil de {{ student.student_name }}" class="rounded-circle img-fluid profile-image">
                {% else %}
                    <img src="https://motionbgs.com/media/78/astronaut-in-the-ocean.1920x1080.jpg" alt="avatar" class="rounded-circle img-fluid profile-image">
                {% endif %}
                    <h5 class="my-3">{{ student.student_name }} {{ student.student_surname }}</h5>
                    <p class="text-muted mb-1">{{ student.student_code }}</p>
                </div>
            </div>
            <div class="card-body mt-3">
                <div class="d-flex justify-content-center align-items-center">
                    <form method="POST" class="card card-body">
                        <h3>Crear  Alerta</h3>
                        {{ error }}
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary button-with-shadow">Save</button>
                    </form>
                </div>
            </div>
        </div>
    
    <div class="col-lg-8">
        <div class = "row">
            <div class="card">
                <div class="card-header">
                    Historial de Alertas
                </div>
                <div class="card-body">
                   
                    <form method="get" class="row">
                        <div class="col-md-2">
                            {{ filter_form.alert_filter.label_tag }}
                        </div>
                        <div class="col-md-4">
                            {{ filter_form.alert_filter }}
                        </div>
                        <div class="col-md-2" id="valueLabel" style="display:none;">
                            {{ filter_form.filter_value.label_tag }}
                        </div>
                        <div class="col-md-4" id="valueField" style="display:none;">
                            {{ filter_form.filter_value }}
                        </div>
                        <div class="col-md-12 mt-2">
                            <button type="submit" class="btn btn-primary button-with-shadow">Filtrar</button>
                        </div>
                    </form>
                    
                
                    <ul class="list-group  alert-list-container">
                        <style>
                            .alert-list-container {
                                max-height: 50vh;
                                overflow-y: auto;
                            }
                        </style>
                       {% for alert in alerts %}  
                       <li class="list-group-item alert-item" data-alert-description="{{ alert.alert_description }}" data-type-alert="{{ alert.type_alert }}" data-alert-date="{{ alert.alert_date }}" data-alert-sender="{{alert.alert_sender}}">
                           <figure class="type-alert">
                               <strong>{{ alert.type_alert }}</strong>
                           </figure>
                           <figure class="alert-description">
                               {{ alert.alert_description }} 
                           </figure>
                           <span class="text-muted float-end">{{ alert.alert_date }}</span>  
                       </li>
                       {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    Detalle de la Alerta
                </div>
                <div class="card-body">
                    <p><strong>Tipo:</strong> <span id="alertDetailType"></span></p>
                    <p><strong>Descripción:</strong> <span id="alertDetailDescription"></span></p>
                    <p><strong>Remitente:</strong> <span id="alertDetailSender" ></span></p>
                    <p><strong>Fecha:</strong> <span id="alertDetailDate" class="text-muted"></span></p>
                </div>
            </div>
            
        </div>
        </div>        
    </div>
</div>
</main>
<script>
 $(document).ready(function() {
    $('.alert-item').click(function() {
        const alertType = $(this).data('type-alert');
        const alertDescription = $(this).data('alert-description');
        const alertSender = $(this).data('alert-sender');
        const alertDate = $(this).data('alert-date');
        
        $('#alertDetailType').text(alertType);
        $('#alertDetailDescription').text(alertDescription);
        $('#alertDetailSender').text(alertSender);
        $('#alertDetailDate').text(alertDate);
        
    });
});
document.getElementById('id_alert_filter').addEventListener('change', function() {
    if (this.value == 'type') {
        document.getElementById('valueField').style.display = 'block';
        document.getElementById('valueLabel').style.display = 'block';
    } else {
        document.getElementById('valueField').style.display = 'none';
        document.getElementById('valueLabel').style.display = 'none';
    }
});


</script>
{% endblock %}
