{% extends 'layouts/base.html' %}
{% block content %}
       <main class="container">
            <div class="row">
                <div>
                     <form method="POST" class="card card-body">
                         <h1>Create a new Student</h1>
                          {{ error }}
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
       </main>
{% endblock %}