{% extends 'layouts/base.html' %}
{% block content %}
    <h1>Editar Estudiante</h1>
    <form method="post" class="card card-body">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary button-with-shadow mt-2">Guardar Cambios</button>
    <a class="btn btn-outline-primary cancel-button button-with-shadow mt-2" href="/fil/student/{{ student.student_code }}/student_detail" role="button">Cancelar</a>
    </form>
    <a href="{% url 'student_detail' student.student_code %}">Cancel</a>
{% endblock %}
