{% extends 'layouts/base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div>
                <h1>
                    Students
                </h1>
                <ul class="list-grouop">
                    {% for s in students %}
                    <a class="list-group-item" href="{% url 'student_detail' s.student_code %}">
                        <strong> {{ s.student_name }}</strong>
                        <p>Code: {{ s.student_code }}</p>
                    </a>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </main>
{% endblock %}