{% extends 'layouts/base.html' %}
{% block content %}
    <main class="container py-5">
         <section class="card card-body">
        <h1 class="display-1 text-center">Home page</h1>
             <p>
                 User Story 1 - Student Registration: Estimation: As a member of the philanthropy office,
                 I want to be able to enter the information of new students joining the institution,
                 including their full name, date of birth, ID card,
                 email address, mobile number, ICFES score, and assign them to an existing donor.
             </p>
    </section>
    </main>


{% endblock %}