{% extends 'layouts/base.html' %}

{% block content %}
    <main class="container">
        <section class="row">
            <article>
                <h1>
                    Alertas
                </h1>
                <ul class="list-group">
                    {% for a in alerts %}
                        <a class="list-group-item" href="{% url 'student_detail' a.student_code %}">
                            <strong> {{ a.student_name }}</strong>
                            <p>Code: {{ a.student_code }}</p>
                        </a>
                    {% endfor %}
                </ul>
            </article>
        </section>
        <section>
            <article>
                <div class="text-center">
                    <a class="btn btn-primary" href="/student/create_student/" role="button">Create</a>
                </div>
            </article>
        </section>
    </main>
{% endblock %}