.block {
    min-height: 100vh;
}

.students-section {
    margin-top: 3%;
}

nav ul {
    margin-top: 25%;
    list-style: none;
    padding: 0;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 25px;
}

.navbar-nav {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-nav .nav-item {
    flex-grow: 1;
}

.main {
    padding-top: 30px;
}

.text-center {
    margin-top: 25px;
}

div .text-center {
    margin-top: 50px;
}

#search-btn {
    margin-left: 30px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}

#search-by-select {
    width: 100px;
}


.cancel-button {
    margin-top: 15px;
}

.btn-primary {
    background-color: #00008b;
    color: #ffffff;
}

nav ul li {
    text-align: center;
    justify-content: center;
}

.select-students, .select-report {
    margin-top: 50px;
}

.button-horizontal-container {
    margin-top: 50px;
}

.nav-item {
    text-align: left;
    width: 80%;
    margin-left: 15%;
}
