{% extends 'layouts/base_collaborator.html' %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <style>
                            .profile-image {
                                width: 150px;
                                height: 150px;
                                object-fit: cover;
                            }
                        </style>
                        {% if student.profile_picture %}
                            <img src="{{ student.profile_picture.url }}"
                                 alt="Foto de perfil de {{ student.student_name }}"
                                 class="rounded-circle img-fluid profile-image">
                        {% else %}
                            <img src="https://img.freepik.com/fotos-premium/icono-usuario-simbolo-persona-avatar-humano-3d-render_473931-217.jpg?w=740"
                                 alt="avatar" class="rounded-circle img-fluid profile-image">
                        {% endif %}


                        <h5 class="my-3">{{ student.student_name }} {{ student.student_surname }}</h5>
                        <p class="text-muted mb-1">{{ student.student_code }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <div class="d-flex justify-content-center align-items-center pt-4">
                                <a href="{% url 'create_alert_collaborator' student.student_code %}">
                                    <button type="button" class="btn btn-primary button-with-shadow">Alerta</button>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <div class="d-flex justify-content-center align-items-center pt-1">
                                <a>
                                    <button type="button"
                                            class="btn btn-primary button-with-shadow"
                                            data-bs-toggle="modal"
                                            data-bs-target="#updateModal"
                                    >Subir información
                                    </button>
                                </a>
                            </div>
                        </div>
                        <!-- Modal añadido --->
                        <div class="modal fade" id="updateModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <form method="GET"
                                              action="{% url 'update_info_student' student.student_code %}">
                                            {% csrf_token %}
                                            <p>Qué tipo de información deseas subir?:</p>
                                            <select class="form-select me-2" name="info-type-select"
                                                    aria-label="Default select">
                                                <option selected>Subir...</option>
                                                <option value="extra-academicas">Actividades
                                                Extra-Académicas</option>
                                                <option value="balance">Balance Académico</option>
                                                <option value="CREA">Consultas en CREA</option>
                                            </select>
                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-secondary button-with-shadow"
                                                        data-bs-dismiss="modal">
                                                    Cerrar
                                                </button>
                                                <button type="submit"
                                                        class="btn btn-primary button-with-shadow">Ir
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">info</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                <p class="mb-0">info</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">info</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">info</p>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ student.student_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ student.student_email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ student.student_phone_number }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Code</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ student.student_code }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">ICFES</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ student.student_ICFES_score }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">Recursos</span> Status
                                    recursos
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Recursos utilizados</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%"
                                         aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">info x</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%"
                                         aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">info x</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%"
                                         aria-valuenow="89"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">info x</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%"
                                         aria-valuenow="55"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">info x</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%"
                                         aria-valuenow="66"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">Reportes</span> Status
                                    reportes
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Transcurrido semestre</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%"
                                         aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Transcurrido carrera</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%"
                                         aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Cortes terminados</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%"
                                         aria-valuenow="89"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Info y</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%"
                                         aria-valuenow="55"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Info z</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%"
                                         aria-valuenow="66"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}